<header class="home-navbar navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand logo" href="#">Booket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/books">All Books</a></li>
                <li class="nav-item">
                    <a href="/add-book" class="btn-custom ms-2"><span>Add Book</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>